@font-face {
    font-family: MarvelFont;
    src: url(../assets/fonts/MarvelRegular-Dj83.ttf);
}
@font-face {
    font-family: Eternals;
    src: url(../assets/fonts/eternals.ttf);
}
@font-face {
    font-family: Venom2;
    src: url(../assets/fonts/venom2.ttf);
}
@font-face {
    font-family: Shang-Chi;
    src: url(../assets/fonts/shang-chi.otf);
}
@font-face {
    font-family: Black-Widow;
    src: url(../assets/fonts/black-widow.ttf);
}
@font-face {
    font-family: Spiderman-Far1;
    src: url(../assets/fonts/spiderman-far1.ttf);
}
@font-face {
    font-family: Spiderman-Far2;
    src: url(../assets/fonts/spiderman-far2.otf);
}
@font-face {
    font-family: Avengers-Endgame;
    src: url(../assets/fonts/avengers-endgame2.ttf);
}
@font-face {
    font-family: Captain-Marvel;
    src: url(../assets/fonts/captain-marvel.ttf);
}
@font-face {
    font-family: Antman2;
    src: url(../assets/fonts/antman2.otf);
}
@font-face {
    font-family: Avengers;
    src: url(../assets/fonts/avengers.ttf);
}
@font-face {
    font-family: Black-Panther;
    src: url(../assets/fonts/black-panther.ttf);
}
@font-face {
    font-family: Black-Panther-numbers;
    src: url(../assets/fonts/black-panther-numbers.ttf);
}
@font-face {
    font-family: Font;
    src: url(../assets/fonts/font);
}

body{
    background-color: black;
    color: white;
    font-family: "MarvelFont", "Arial";
    margin: 0;
    font-size: 1.5em;
}
header, footer{
    background-color: #e23636;
    height: 35px;
    font-size: 1.5em;
    padding: 20px;
}
header{
    position: sticky;
    top: 0px;
}
footer{
    height: 60px;
    text-align: center;
    position: relative;
    top: 100%; /*Mudar no final para o valor que deixe no fim da página, acho que com 100% já fica la no final*/
    font-size: 1em;
    padding-top: 10px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #e23636;
    color: black;
}
#top_menu{
    position: relative;
    float: right;
    font-size: 0.7em;
    list-style-type: none;
    bottom: 80%;
    margin-bottom: 0;
}
.top_menu_li{
    float: left;
    padding: 10px;
    margin-left: 30px;
}
h1{
    font-size: 2em;
}
h2{
    height: 50px;
}
h1, h2{
    text-align: center;
    font-weight: normal;
}
.big_title{
    font-size: 1.2em;
}
.images{
    height: 250px;
}
.images_order{
    height: 150px;
}
.text{
    position: relative;
    bottom: 280px;
    left: 460px;
    max-width: 1300px;
}
.text_order{
    position: relative;
    bottom: 150px;
    left: 280px;
    width: 350px;
}
.big_text{
    font-size: 0.83em;
}
.bigger_text{
    font-size: 0.73em;
}
.number_black_widow{
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
}

/* CSS for index.html and desciptions.html */

#eternals{
    font-family: "Eternals", "MarvelFont", "Arial";
    color: #EFCB87;
    background-image: url(../assets/images/eternals_background3.jpeg);
    background-attachment: fixed;
}
#venom2{
    font-family: "Venom2", "MarvelFont", "Arial";
    color: #E6E7E9;
    background-image: url(../assets/images/venom2_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#shang-chi{
    font-family: "Shang-Chi", "MarvelFont", "Arial";
    color: #A0020A;
    background-image: url(../assets/images/shang-chi_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#black_widow{
    font-family: "Black-Widow", "MarvelFont", "Arial";
    color: #F7EBED;
    background-image: url(../assets/images/black-widow_background2.jpg);
    background-attachment: fixed;
}
#spiderman_far{
    font-family: "Spiderman-Far1", "MarvelFont", "Arial";
    color: #D20014;
    background-image: url(../assets/images/spiderman-far_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.spiderman_far_title{
    font-family: "Spiderman-Far2", "MarvelFont", "Arial";
}
#avengers_endgame{
    font-family: "Avengers-Endgame", "MarvelFont", "Arial";
    color: #261764;
    padding-top: 1px;
    box-sizing: border-box;
    background-image: url(../assets/images/avengers-endgame_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.title_avengers{
    font-family: "Avengers", "MarvelFont", "Arial";
}
#captain_marvel{
    font-family: "Captain-Marvel", "MarvelFont", "Arial";
    color: #D40614;
    background-image: url(../assets/images/captain-marvel_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#venom1{
    font-family: "Venom2", "MarvelFont", "Arial";
    color: #F7EBED;
    background-image: url(../assets/images/venom1_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#ant_man2{
    font-family: "Antman2", "MarvelFont", "Arial";
    color: #AF7214;
    background-image: url(../assets/images/antman2_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#avengers_infinity{
    font-family: "Avengers-Endgame", "MarvelFont", "Arial";
    color: #E39729;
    padding-top: 1px;
    box-sizing: border-box;
    background-image: url(../assets/images/avengers-infinity_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#black_panther{
    font-family: "Black-Panther", "MarvelFont", "Arial";
    color: #5EA4D3;
    padding-top: 1px;
    box-sizing: border-box;
    background-image: url(../assets/images/black-panther_background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.black-panther-numbers{
    font-family: "Black-Panther-numbers", "MarvelFont", "Arial";
    font-size: 1.5em;
}
#name{
    font-family: "font", "MarvelFont", "Arial";
    color: #F7EBED;
    background-image: url(../assets/images/background);
    background-attachment: fixed;
    background-size: cover;
}

/* CSS for chronological.html */

.order1{
    width: 635px;
    height: 385.75px;
    float: left;
}
.order2{
    width: 634px;
    height: 385.75px;
    float: left;
}


.black_panther_order{
    font-family: "Black-Panther", "MarvelFont", "Arial";
    color: #5EA4D3;
    padding-top: 1px;
    box-sizing: border-box;
    background-image: url(../assets/images/black-panther_background.jpg);
    background-size: cover;
}
.avengers_infinity_order{
    font-family: "Avengers-Endgame", "MarvelFont", "Arial";
    color: #E39729;
    padding-top: 1px;
    box-sizing: border-box;
    background-image: url(../assets/images/avengers-infinity_background.jpg);
    background-size: cover;
}
.ant_man2_order{
    font-family: "Antman2", "MarvelFont", "Arial";
    color: #AF7214;
    background-image: url(../assets/images/antman2_background.jpg);
    background-size: cover;
}
.venom1_order{
    font-family: "Venom2", "MarvelFont", "Arial";
    color: #F7EBED;
    background-image: url(../assets/images/venom1_background.jpg);
    background-size: cover;
}
.venom_text_order{
    bottom: 190px;
}
.captain_marvel_order{
    font-family: "Captain-Marvel", "MarvelFont", "Arial";
    color: #D40614;
    background-image: url(../assets/images/captain-marvel_background.jpg);
    background-size: cover;
}
.avengers_endgame_order{
    font-family: "Avengers-Endgame", "MarvelFont", "Arial";
    color: #543FC0;
    /* 261764 */
    background-image: url(../assets/images/avengers-endgame_background3.jpg);
    background-size: cover;
}
.spiderman_far_order{
    font-family: "Spiderman-Far1", "MarvelFont", "Arial";
    color: #D20014;
    background-image: url(../assets/images/spiderman-far_background2.jpg);
    background-size: cover;
}
.black_widow_order{
    font-family: "Black-Widow", "MarvelFont", "Arial";
    color: #F7EBED;
    background-image: url(../assets/images/black-widow_background2.jpg);
    background-attachment: local;
    background-size: cover;
}
.shang-chi_order{
    font-family: "Shang-Chi", "MarvelFont", "Arial";
    color: #A0020A;
    background-image: url(../assets/images/shang-chi_background.jpg);
    background-size: cover;
}
.venom2_order{
    font-family: "Venom2", "MarvelFont", "Arial";
    color: #E6E7E9;
    background-image: url(../assets/images/venom2_background.jpg);
    background-size: cover;
}
.venom2_order_rating{
    font-family: "Venom2", "MarvelFont", "Arial";
    color: #E6E7E9;
    background-image: url(../assets/images/venom2_background.jpg);
    background-size: cover;
    width: 1268px;
    height: 385.75px;
    display: inline-block;
    /* float: left; */
    /* Se usar o float: left, o footer fica bugado na página */
}
.eternals_order{
    font-family: "Eternals", "MarvelFont", "Arial";
    color: #EFCB87;
    background-image: url(../assets/images/eternals_background3.jpeg);
    width: 1268px;
    height: 385.75px;
    display: inline-block;
    /* float: left; */
    /* Se usar o float: left, o footer fica bugado na página */
}
.eternals_order_rating{
    font-family: "Eternals", "MarvelFont", "Arial";
    color: #EFCB87;
    background-image: url(../assets/images/eternals_background3.jpeg);
}
